/*

*/

body{
   white: #f7f9f9;
    
    dark-blue: #0a2c42;
    grey: #bfbfbf;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    background-color:#2081c3;
    height: 40px;

    vertical-align: bottom;
    text-indent: 30px;
    
}

.navBar{
    color: white;
    text-decoration: none;
    position: relative;
    top:10px;
    display:inline-block;
}

.beers{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

